.hero {
  width: 100%;
  height: 80vh;
  background: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(255, 255, 255, 0.75);
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.hero-left {
  color: #1A1A1A;
  max-width: 50%;
 
}

.hero-left h1 {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #004E89;
}

.hero-left p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 1.6;
  color: #333;
}

.hero-buttons .btn {
  padding: 12px 24px;
  margin-right: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: #F25C05;
  color: #FFFFFF;
}

.secondary {
  background-color: #004E89;
  color: #FFFFFF;
}

/* FORM */
.contact-card h2 {
  color: #004E89;
  font-weight: 700;
  margin-bottom: 4px;
}

.contact-card p {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.hero-right {
  max-width: 400px;
  height: fit-content;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 32px 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  background-color: #E8EDF3;
  border: 1px solid #004E89;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  color: #1A1A1A;
  box-sizing: border-box;
}

form select {
  color: #1A1A1A;
}

.submit-btn {
  background-color: #F25C05;
  color: #FFFFFF;
  padding: 12px 18px;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn:hover {
  background-color: #d94d00;
}

.send-icon {
  margin-right: 8px;
  font-size: 1.1rem;
  color: #FFFFFF;
}