
  
  .overlay {
    background-color: white;
    padding: 40px;
    text-align: center;
    width: 95%;
    background:url('https://media.istockphoto.com/id/1476230011/photo/airplane-flight-attendant-serving-orange-juice-to-female-passenger-in-cabin.jpg?s=1024x1024&w=is&k=20&c=qw8x4wRgsObT-jv01Y4I6ZmmjvwJP2DkQG8lGBlWZ4o=')
    ;
  }
  
  .title {
    color:  #F25C05;
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 20px;

  }
  
  .subtitle {
    color:#004E89;
    font-size: 20px;
    margin: 0;
    font-weight: bold;

  }
  