.contact-container {
    color:#F25C04;
    max-width: 600px;
    margin: 100px auto;
    padding: 100px;
    background-color: #f6e9e1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .contact-container h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-subtitle {
    text-align: center;
    color:#004E89;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-item {
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    border-left: 4px solid  #F25C04;
  }
  
  .contact-label {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
  }
  
  .contact-item a {
    text-decoration: none;
    color:#004E89;
    font-weight: bold;
  }
  
  .contact-item a:hover {
    text-decoration: underline;
  }
  .contact-item p{
    color: #004E89;
    font-weight: bold;

  }
  
